.v-cont {
    margin: 20px;
}

.card {
    margin-bottom: 20px;
}

.c-cont {
    display: flex;
    justify-content: space-between;
    background-color: #323D4E;
}

.icon-cont {
    display: flex;
    alignItems: center;
}

.circle {
    width: 45%;
    margin-left: 5px;
}